# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Popular Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Below are a few examples of evaluating arithmetic expressions in Python

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Spyder             |

# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result = 17

# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used Data Science libraries.
- Explore development environments for Data Science.

Exercise 11 - Create a markdown cell to indicate the Author's name

In this markdown cell markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author

## Author

Zeeshan Zahid